<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="">
</head>

<body>
  <div>
    <h4 class="forgot-pass">¿Olvidaste tu contraseña?</h4>
      <div class="modal-body">
        <p>Ingresa el correo electrónico con el que te registraste y en breve recibirás una contraseña nueva.</p>
        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
   </div>
   <div class="cancel-submit">
     <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
     <button class="btn btn-theme" type="button">Submit</button>
   </div>
  </div>
    <script src=""></script>
</body>
</html>
